:root {
  --orange: rgb(255, 127, 0);
  --yellow: #ffc600;
  --red: rgb(255, 0, 0);
  --shadow: -4px 4px 0px rgb(0, 0, 0);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  background: #111111;
  color: var(--orange);
  touch-action: manipulation;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Londrina Solid', cursive;
  padding: 0;
  margin: 0;
}

/* TOP NAVIGATION */
nav {
  background: rgb(33, 33, 33);
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  margin-bottom: 1rem;
}

nav a {
  text-decoration: none;
  text-shadow: var(--shadow);
  -webkit-text-fill-color: rgb(61, 61, 61);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

nav a:hover {
  color: var(--orange);
  -webkit-text-fill-color: var(--orange);
}

.nav_logo {
  text-align: center;
  width: 40%;
  font-size: 4rem;
}

nav div {
  display: inline-block;
}

.nav_links {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.nav_links div {
  display: inline-block;
}

.score_banner {
  display: block;
  text-align: center;
  min-width: 180px;
  width: 20%;
  background: #111111;
}

.score_title {
  min-width: 180px;
  width: 100%;
  font-size: 2rem;
  background: #111111;
  text-align: center;
  color: var(--red);
}

.score {
  font-size: 3rem;
  color: var(--orange);
  padding: 0 3rem;
  line-height: 1;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
}

.start_container {
  height: 50px;
  text-align: center;
}

.start_button {
  font-family: 'Londrina Solid', cursive;
  border: solid 3px rgb(0, 129, 28);
  font-size: 2.5em;
  background: rgb(0, 129, 28);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: rgb(224, 224, 224);
  text-shadow: var(--shadow);
  padding: 5px 10px;
}

.start_button:hover {
  background: var(--orange);
  border: solid 3px var(--orange);
}



.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 2rem;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
  touch-action: manipulation;
}


.bry {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}


.hole:after {
  display: block;
  background: url() bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.hand {
  background: url('hand2.svg') bottom center no-repeat;
  background-size: 50%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  cursor: grab;
  touch-action: manipulation;
}

.hole.up .hand {
  top: 0;
}

.hidden {
  display: none;
}

.hole1 {
  transform: scaleX(-1);
}

.hole3 {
  transform: scaleX(-1) rotate(90deg) translate(0px, -100px);
}

.hole4 {
  transform: rotate(90deg) translate(0px, -100px)
}

/* TOP SCORES PAGE */

.scoreboard_title {
  color: var(--red)
}

.scoreboard_wrapper {
  margin: auto;
  width: 500px;
  color: var(--orange)
}

.scoreboard {
  font-family: monospace;
  font-size: 2em;
  width: 100%;
  margin-top: 1em;
}


/* ABOUT PAGE */

.about_text {
  border: 4px solid rgb(20, 20, 20);
  border-radius: 20px;
  display: inline-block;
  color: rgb(49, 49, 49);
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: white;
  min-width: 450px;
  width: 50%;
  padding: 10px 15px;
}

.about_text p {
  margin-top: 0px;
  line-height: 1.5;
}

.about_text a {
  color: var(--red);
  text-decoration: none;
}

.about_text a:hover {
  color: rgb(0, 207, 0);
}